.product-image{
    border: 1px #ccc solid;
    padding: 10px 0px;
}

.product-image img {
    width: 100px;
    height: 100px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.product-image{
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: white;
}

.product-title {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: 600;
}

.product-body {
    background-color: white;
    display: flex;
    padding: 10px;
    flex: 2;
    justify-content: space-around;
}