<div class="product-cart" *ngIf="cartItems && cartItems.length > 0">
    <ul>
      <li *ngFor="let item of cartItems">
        <img width="20px" class="card-img-top" [src]="getImagePath(item.product.image)" alt="Card image cap">
        <div>
        <span class="col-md-1">{{item.product.name}}</span> 
        <span class="col-md-1">{{item.product.price  | currency:'LKR '}}</span>
        <span class="col-md-1">{{item.quentity}}</span>
        <button type="button" class="close col-md-1" aria-label="Remove Item" (click)="removeItemFromCart(item.product.id)">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
                
      </li>
    </ul>
    <div class="cart-total">
      <p><button type="button" class="btn btn-outline-primary btn-sm" (click)="emptyCart()">Empty Cart</button></p>
      <p><button type="button" class="btn btn-outline-primary btn-sm" (click)="goToCheckout()">Checkout</button></p>
      <p class="text-right">
        <strong class="d-block">Total:</strong>
        <span class="d-block">{{totalAmmount | currency:'LKR '}}</span>
      </p>
    </div>
  </div>
