<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
    <h4 class="card-header">{{formType}} Product</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="Name">Product Name</label>
                <input type="text" formControlName="Name" class="form-control required" [ngClass]="{ 'is-invalid': f.Name.touched && f.Name.errors }" />
                <div *ngIf="f.Name.touched && f.Name.errors" class="invalid-feedback">
                    <div *ngIf="f.Name.errors.required">Product Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="Price">Price</label>
                <input type="number" formControlName="Price" class="form-control required" [ngClass]="{ 'is-invalid': f.Price.touched && f.Price.errors }" />
                <div *ngIf="f.Price.touched && f.Price.errors" class="invalid-feedback">
                    <div *ngIf="f.Price.errors.required">Price is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="Color">Color</label>
                <input type="text" formControlName="Color" class="form-control required" [ngClass]="{ 'is-invalid': submitted && f.Color.errors }" />
                <div *ngIf="submitted && f.Color.errors" class="invalid-feedback">
                    <div *ngIf="f.Color.errors.required">Color is required</div>
                </div>
            </div>
            
            <div class="float-container">
                <div class="form-group float-child">
                    <label for="InStock">In Stock</label>
                    <input type="checkbox" formControlName="InStock" class="col-md-1 form-check-inputform-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.InStock.errors }" />
                    <div *ngIf="submitted && f.InStock.errors" class="invalid-feedback">
                        <div *ngIf="f.InStock.errors.required">inStock is required</div>
                    </div>
                </div>
                <div class="form-group float-child">
                    <label for="IsActive">Active</label>
                    <input type="checkbox" formControlName="IsActive" class="col-md-2 form-check-inputform-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.IsActive.errors }" />
                    <div *ngIf="submitted && f.IsActive.errors" class="invalid-feedback">
                        <div *ngIf="f.IsActive.errors.required">required</div>
                    </div>
                </div>          
            </div>
            <div class="form-group">
                <!-- <label for="CategoryId">Category</label>
                <input type="text" formControlName="CategoryId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CategoryId.errors }" /> -->
                <select class="custom-select" (change)="changeCategory($event)" formControlName="CategoryId">
                    <option value="">Category</option>
                    <option *ngFor="let category of categoryList" [ngValue]="category.id">{{category.name}}</option>
                  </select>
                <div *ngIf="submitted && f.CategoryId.errors" class="invalid-feedback">
                    <div *ngIf="f.CategoryId.errors.required">required</div>
                </div>
            </div>
            <div class="form-group">
                <!-- <label for="CategoryId">Category</label>
                <input type="text" formControlName="CategoryId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CategoryId.errors }" /> -->
                <select class="custom-select" formControlName="ManufacturerId">
                    <option value="">Manufacturer</option>
                    <option *ngFor="let manufacturer of manufacturerList" [ngValue]="manufacturer.id">{{manufacturer.name}}</option>
                  </select>
                <div *ngIf="submitted && f.ManufacturerId.errors" class="invalid-feedback">
                    <div *ngIf="f.ManufacturerId.errors.required">required</div>
                </div>
            </div>
            <!-- <div class="form-group">
                <img  width="50" height="50"  alt="Card image cap">
            </div> -->
            <div class="form-group">
                <label for="imageFile">Image</label>
                <input type="file" formControlName="imageFile" class="form-control" (change)="onFileChange($event)" />
            </div>
            <div class="form-group">
                <button [disabled]="!form.valid" class="btn btn-primary">
                    <span  class="spinner-border spinner-border-sm mr-1"></span>
                    {{submitBtnText}}
                </button>
                <a class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
    </div>
</div>