
<!-- <div class="col-md-6 offset-md-3 mt-5">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="search">Search Product</label>
                <input type="text" formControlName="search" class="form-control"/>
            </div>
        </form>
</div> -->

<div class="product-list">
    <div class="product-container" *ngFor="let product of productList">
        <app-product [product]="product" (deleteEvent)=receiveEvent($event)></app-product>
    </div>
</div>
